*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: #222;
}

/*
    Solo elementos
*/

.h1{
    margin: 1rem;
    text-align: center;
}

p{
    margin-bottom: 0.6rem;
}

label{
    margin: 0.5rem 0;
}

input{
    padding: .8rem;
    border: 0;
    background: #f5f5f5;
    box-shadow: 0px 3px 0px #1d6480;
}

::placeholder{
    color: #1b1b1b;
}

button{
    padding: 1rem;
    margin: 0.5rem;
    border: 0;
    border-radius: .25rem;
    color: #fff;
}

/*
    Clases
*/

.container{
    margin: auto;
    width: calc(100% - 2rem);
    max-width: 738px;
}

.navbar{
    margin: auto;
}

.navbar-teclado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecla{
    flex-basis: 45px;
}

.icon-heart{
    width: 32px;
}

.hide{
    display: none;
}

.content-pistas{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-pistas-corazones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form{
    display: flex;
}

.input-form{
    margin-right: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.d-block{
    display: block;
}

.button-form{
    display: flex;
    align-items: flex-end;
}

.m-0{
    margin: 0;
}

.lista{
    padding: 1rem 0;
}


/*
    Botones
*/

.btn-rounded{
    padding: .8rem .9rem;
    border-radius: 50%;
}

/* 
    Colores de botones
*/

.btn-red{
    background-color: #e64647;
    box-shadow: 0px 3px 0px brown;
}

.btn-red:hover{
    background-color: #d23738;
    box-shadow: 0px 3px 0px rgb(128, 36, 36);
}


.btn-blue{
    background-color: #37c1ba;
    box-shadow: 0px 3px 0px #2a82a5;
}

.btn-blue:hover{
    background-color: #2cb4ad;
    box-shadow: 0px 3px 0px #1d6480;
}

button:disabled{
    background-color: #8c8c8c;
    box-shadow: 0px 3px 0px #404040;
}

button:disabled:hover{
    background-color: #505050;
    box-shadow: 0px 3px 0px #131313;
}

#pelicula{
    font-size: xx-large;
    letter-spacing: 6px;
    text-align: center;
}



#progressBar{
    margin: .5rem;
    width: calc(100% - 1rem);
}

#bars-hearts{
    height: 36px;
}


#mensajeBuscador{
    margin-top: 0.6rem;
    font-size: .8rem;
}



#listaPeliculas{
    list-style: none;
}


/*
    Modals
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    max-width: 800px;
    min-width: 470px;
}
